.outerContainer {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(104, 200, 242) 0%,
    rgb(104, 200, 242) 30%,
    white 40%,
    white 100%
  );

  overflow-x: hidden;
  overflow-y: scroll;

  &::before,
  &::after,
  .extraImage1 {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0.8);
  }

  &::before {
    position: fixed;
    background-image: url("https://res.cloudinary.com/dybzo3xly/image/upload/v1742998824/taal_hve4gt.webp");
    width: 20rem;
    height: 30rem;
    top: -2rem;
    right: 0rem;
  }

  &::after {
    position: fixed;
    background-image: url("https://res.cloudinary.com/dybzo3xly/image/upload/v1742999238/Untitled_design_2_1_aflj3k.webp");
    width: 30rem;
    height: 40rem;
    top: 20rem;
    right: -5rem;
  }
  .extraImage1 {
    position: fixed;
    background-image: url("https://res.cloudinary.com/dybzo3xly/image/upload/v1742965608/rightJapi_qlsahv.png");
    width: 26rem;
    height: 26rem;
    bottom: 4rem;
    right: 20%;
  }

  .mainContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    .section1 {
      width: 100%;
      height: 12rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      scale: 0.8;
      margin-top: 4rem;

      .headingImage {
        display: inline-block;
        width: 60%;
        height: 40%;
        object-fit: 100% 100%;
        scale: 3;
      }
      .headingText {
        margin-top: -0.5rem;
        height: 50%;
        width: 90%;
        font-size: 2rem;
        font-weight: 500;
        font-family: var(--font-moglan);
        color: #cb2229;
        text-align: center;
        z-index: 4;
      }
    }
    .section2 {
      width: 100vw;
      height: max-content;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .wrapper {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f4e0b9;
        padding: 0;
        z-index: 20;
        padding: 3rem;
        border: 12px solid #e7bb67;
       
        
        .profile {
          width: 12rem;
          height: 16rem;
          background-image: url("https://res.cloudinary.com/dybzo3xly/image/upload/v1742914160/bgSvg_mzeadi.svg");
          background-size: cover;
          z-index: 25;
          border-radius: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          transition: transform 0.3s ease;

          .mainArtist {
            display: inline-block;
            width: 10rem;
            height: 13rem;
            object-fit: cover;
            object-position: center;
            padding-top: 0.5rem;
            border-radius: 1rem;
          }

          .textBox {
            width: 8rem;
            height: 4rem;
            z-index: 35;
            background-image: url("https://res.cloudinary.com/dybzo3xly/image/upload/v1742914836/TextFrame_yvekzx.png");
            background-size: 100% 100%;
            scale: 1.5;
          }
        }
        .artistName {
          font-family: var(--font-moglan);
          font-size: 3rem;
          font-weight: 800;
          text-align: center;
          // padding: 1rem;
          color: #5f1516;
          white-space: nowrap;
        }
        .assameseText {
          font-size: 15px;
          font-family: var(--font-gotham);
          letter-spacing: 0%;
          text-align: justify;
          color: #5f1516;
          font-weight: 300;
          text-indent: 1rem;
        }
        .englishText {
          font-size: 16px;
          font-family: var(--font-gotham);
          letter-spacing: 0%;
          text-align: justify;
          color: #5f1516;
          font-weight: 600;
          text-indent: 1rem;
        }
      }
    }
    .section3 {
      width: 100%;
      height: 12rem;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      scale: 0.8;
      margin-top: 2rem;
      .UpcomingImage {
        display: inline-block;
        width: 60%;
        height: 40%;
        z-index: 0;
        object-fit: 100% 100%;
        scale: 3;
      }
      .upcomingText {
        margin-top: -0.5rem;
        height: 50%;
        width: 90%;
        font-size: 2rem;
        font-weight: 500;
        font-family: var(--font-moglan);
        color: #cb2229;
        text-align: center;
        z-index: 4;
      }
    }
    .section4 {
      // margin-top: 3rem;
      width: 100%;
      height: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -4rem;
      padding-bottom: 4rem;

      .carouselWrapper {
        width: 100%;
        height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .card {
          width: 12rem;
          height: 18rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          text-align: center;
          border-radius: 15px;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          background-image: url("https://res.cloudinary.com/dybzo3xly/image/upload/v1742961127/GamusaFrame_zbbg30.webp");
          background-size: 100% 100%;
          &:hover {
            transform: translateY(-5px);
            transition: transform 0.3s ease;
          }

          .cardImage {
            padding-top: 2rem;
            width: 80%;
            height: 74%;
            object-fit: cover;
            z-index: 10;
            border-radius: 10px 10px 0 0;
          }

          .textBox {
            width: 80%;
            height: 15%;
            background-image: url("https://res.cloudinary.com/dybzo3xly/image/upload/v1742914467/textFrame_bkdxll.webp");
            background-size: 108% 110%;
            background-color: #f8ead0;
            padding: 0.5rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .artistName {
              font-size: 0.6rem;
              height: 40%;
              width: 100%;
              color: #b02227;
              font-weight: 400;
              margin: 0;
              font-family: var(--font-gotham);
            }
            .tit {
              height: 30%;
              width: 100%;
              font-size: 0.4rem;
              color: #b02227;
              font-weight: 400;
            
            }
          }
        }
      }
    }
  }
}
// @media (max-width: 480px) {
//          .outerContainer{
//             .mainContainer{
//               .section1{
//                 .headingText{
//                 margin-top: -0.5rem;
//                 height: 40%;
//                 width: 70%;
//                 font-size: 0.5rem;
//                 font-weight: 500;
//                 font-family: var(--font-moglan);
//                 color: #cb2229;
//                 text-align: center;
//                 z-index: 4;
//                 }
//               }
//             }
//          }   
// }
@media screen and (max-width: 480px) {
  .outerContainer .mainContainer .section2 
     .wrapper{
        padding: 2rem;
        .artistName {
          font-size: 2.2rem !important;
        }
      }
}
