@import "tailwindcss";

@theme components{
    --breakpoint-tablet2: 750px;
    --breakpoint-laptop2: 1200px;
    --breakpoint-ipadpro: 1000px;
    --breakpoint-mobile2: 400px;
}
  

@font-face {
    font-family: 'Moglan_DEMO';
    src: url('/Fonts/Moglan_DEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/Fonts/Gotham-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.posua {
    font-family: 'Moglan_DEMO', sans-serif;
}

.gotham {
    font-family: 'Gotham', sans-serif;
}
