.carouselCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
  background-color: #f8f0e3; 
  font-family: sans-serif;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.cardContainer {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
